---
import Layout from "../../layouts/main.astro"
---
<Layout>
    <div slot="text" class="cat-page">
        <img src="/media/cats/0.">
        <div class="cat-info">
        <h1>Title: </h1>
        <h2>Artist: </h2>
        <h2>Website: <a href=""></a></h2>
        <h2>ID: 0</h2>
    </div>
    </div>
</Layout>