---
import Layout from "../../layouts/main.astro"
---
<Layout>
    <div slot="text" class="cat-page">
        <img src="/media/cats/0.png">
        <div class="cat-info">
        <h1>Title: Desertkat</h1>
        <h2>Artist: lunceman</h2>
        <h2>Website: <a href="https://sixshooter.org">sixshooter.org</a></h2>
        <h2>ID: 0</h2>
        <h2>Date submitted: Feb 13, 2026</h2>
    </div>
    </div>
</Layout>
