---
import Layout from "../layouts/main.astro"
---
<Layout>
<style>
            .catt {
                display: inline-block;
                animation: spin 1.5s linear infinite;
            }

            @keyframes spin {
                from {
                transform: rotate(0deg);
                }
                to {
                transform: rotate(360deg);
                }
            }
</style>
	<div slot="text">
		<h1>Welcome to the <span class="catt">Meow</span> Gallery!!</h1>
        <h2>88x31 button:</h2>
        <a href="https://meowg.code2craft.xyz" target="_blank"><img src="/media/buttons/b1.png" width="88" height="31"></a> <textarea readonly><a href="https://meowg.code2craft.xyz" target="_blank"><img src="https://meowg.code2craft.xyz/media/buttons/b1.png"></a></textarea>
		<h2>Check out these meowtastic cat drawings(Newest To Oldest) - Click on the image to see info!</h2>
		<br>
   <!--    <h2 style="text-align: center;">Gallery is empty (╥﹏╥)</h2>
        <h2><a href="/submit" style="display: block; text-align: center;">Submit a drawing!</a></h2> -->
		<div class="gallery">
            <a href="/cat/0" class="cat">
                <img src="/media/cats/0.png">
            </a>
		</div>
	</div>
</Layout>