---
import Layout from "../layouts/main.astro"
---
<Layout>
    <div slot="text">
        <h1>Info and Stuff</h1>
        <ul>
            <li><p>To submit a drawing, go to the <strong><a href="/submit">Submit</a></strong> page.</p></li>
            <li><p>After submission, after some time, you will receive an email with the status of your drawing and if approved, you will also get a link to your drawing.</p></li>
            <li><p>To remove your drawing or change the information, send an email to <strong>itsme@code2craft.xyz</strong> with the subject <strong>"Drawing Removal"</strong> or <strong>"Info Change"</strong> using the same email as entered into the submit form.</p></li>
            <li><p>Your email will <strong>NOT</strong> be shared with anyone.</p></li>
        </ul>
        <h1>Rules:</h1>
        <ul>
            <li><p>Drawings must be appropriate and not contain any offensive or inappropriate content.</p></li>
            <li><p>Drawings must be original and not copied from other sources.</p></li>
            <li><p>Drawings must be in the format of <strong>PNG</strong> or <strong>JPEG</strong>.</p></li>
        </ul>
    </div>
</Layout>