@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2')
      format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1,h2,h3,h4,h5,p {
    font-family: Phantom Sans;
}

a { 
    margin-top:10px;
    font-family: Phantom Sans;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav {
    position: relative;
    padding: 0 10px 20px 20px;
    height: 25px;
    border-bottom: 1px solid black;
    display: flex;
}

.nav h2 {
    margin-left: 15px;
}

.nav a {
    font-size: 25px;
}

.meow {
    font-size: 20px;
    display: inline-block; 
    position: absolute;
    top: 2px;
    left: 3px;
    transform: rotate(-45deg);
    margin-right: 10px;
}

.buttons-nav {
    margin-left: auto;
    display: flex;
    gap: 30px;  
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.gallery img {
    border: 2px solid black
}

.cat {
    text-align: center;
    text-decoration: none;
    color: black;
}

.cat img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.cat-page {
    display: flex;
    gap: 40px;
    align-items: flex-start;

}

.cat-page img {
    width: 400px;
    height: auto;
}

.cat-info {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type:decimal;
    font-family: Phantom Sans;
}

ul p {
    font-size: 16px;
}